In [3]:
#Output Formatting
a = 20; b = 45;
print("There are " + str(a) + " Girls and " + str(b) + " Boys in the Class.")

There are 20 Girls and 45 Boys in the Class.

In [4]:
print("There are {} Girls and {} Boys in the Class.".format(a, b))

There are 20 Girls and 45 Boys in the Class.

In [5]:
print("There are {1} Girls and {0} Boys in the Class.".format(b, a))

There are 20 Girls and 45 Boys in the Class.

In [6]:
print("There are {girls} Girls and {boys} Boys in the Class.".format(boys=b, girls=a))

There are 20 Girls and 45 Boys in the Class.

In [8]:
print("There are {0} Girls and {boys} Boys in the Class.".format(a, boys=b)) #Combination

There are 20 Girls and 45 Boys in the Class.

In [9]:
print(f"There are {a} Girls and {b} Boys in the Class.")

There are 20 Girls and 45 Boys in the Class.

In [10]:
#Input
str1 = input("Enter First Number: ")
str2 = input("Enter Second Number: ")
added= int(str1) + int(str2)
print(added)

Enter First Number: 22
Enter Second Number: 34
56

In [11]:
num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))
print(num1 + num2)

Enter First Number: 44
Enter Second Number: 55
99